@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* body general */
body {background-color: #ffffff;
    font-family:Inter,sans-serif;font-style: normal;
    margin:0; padding: 0;}

/* header navegador */

/* 🔮 Header y Menú */

/* Header general */
header {
  width: 90%;display: flex;justify-content:space-between;
  align-items:baseline ;padding: 1rem 2rem;background-color: #ffffff;top: 0;left: 0}

.Menu-resto {display: flex;}
.Menu-resto ul li {display: inline-block;}
.Menu-resto ul li a {text-decoration: none;display: inline-block;color: black;font-weight: 500;}
.Menu-resto ul li a:hover {color:#0022ff;text-decoration:dashed;font-weight: 800;}

.Menu-inicio ul li {display: inline-block;}
.Menu-inicio ul li a {text-decoration: none;display: inline-block;color: black;font-weight: 500;font-size:1.7rem;letter-spacing: 0.2rem}

/* Seccion nosotros */

.Nosotros  {display:grid;padding: 1rem 2rem 1rem 10rem;grid-template-columns: 40% 60%;}
.bloque-nosotros {justify-content: center;padding-top: 4rem;}
.img-nosotros  {width: 100%;}
h1  {font-size: 4rem;letter-spacing: 0.02rem;font-weight: 200;}
h1:hover  {font-size: 4rem;letter-spacing: 0.02rem;font-weight: 200;color: #0022ff;font-style: oblique;}
h2  {font-size: 2rem;font-weight: 700;}
.h3-nosotros {font-size: 1.1rem;margin-bottom: 3rem;}
.boton-nosotros {font-size: 1rem;padding: 1.2rem 1.5rem 1.2rem 1.5rem ;background-color: #0022ff;color: #ffffff;
                  border-radius: 1rem;text-decoration: none;}

/* Seccion servicios */

.titulo-servicios {margin-left: 10rem;margin-bottom: 4rem;}
.contenedor-Servicios {width: 80%; display: flex;justify-content:space-around;align-items: center;margin-left: 10rem;margin-bottom: 10rem;}
.div-servicios {height: 200px;width: 250px;justify-items: center;text-align: center;display:grid;grid-template-rows:40% 30% 10%;
                border-radius: 0.5rem;padding: 2rem;border: 1.5rem;border: 1px solid rgb(24, 24, 24);}
.div-servicios:hover {height: 200px;width: 250px;justify-items: center;text-align: center;display:grid;grid-template-rows:40% 30% 10%;
                border-radius: 0.5rem;padding: 2rem;border: 1.5rem;border: 1px solid  #0022ff;box-shadow: 0 2px 3px  #0022ff}
.img-servicios {width: 100px;}
h4{font-size: 1.5rem;}

/* Seccion proyectos destacados */

.boton-ver {font-size: 1rem;padding: 1.5rem ;color:#ffffff;background-color:#0022ff;margin: 3REM 37REM 5REM 37REM;
                  border-radius: 1rem;text-decoration: none;display: flex;justify-content: center;}
.titulo-proyecto {background-image: url(/IMG/img\ proyectos.jpg);background-size:cover;
                      ;height: 200px;width: 300px;padding: 0rem 0rem 0rem 1rem;
                      display: flex;justify-content:end;flex-direction: column;color: #ffffff;}

.contenedor-proyec {display: flex;justify-content:space-around;align-items: center;
                    margin-left: 6rem;margin-right: 6rem}
.contenedor-proyecto {border: 0px solid  #0022ff;box-shadow: 0 1px 3px  #050505;height: 300px;
                      display: flex;flex-direction: column;justify-content:flex-start;padding-bottom: 1rem;}
.texto-proyecto {padding:0rem 0rem 0rem 1rem;}

/* Seccion Tienda */

.img-tienda{width: 350px;}
h5 {font-size: 1rem;}
.div-tienda {display:grid;grid-template-rows:80% 20%;text-align: center;justify-content: center;box-shadow: 0 1px 2px  #050505}
.contenedor-tienda {width: 80%; display: flex;justify-content:space-around;align-items: center;
                    margin-left: 10rem;margin-bottom: 1rem;}

/* footer */
.contenedor-footer {display: flex;justify-content:space-around;align-items:baseline;background-color: rgb(166, 179, 243);padding: 1rem;}

.final {text-align: center;display: flex;justify-content: center;width: 100%;background-color:rgb(119, 135, 220);padding: 1rem;margin: 0;}
